<div class="jumbotron">
  <h1>About</h1>
  <div class="row">
    <div class="col-sm-6">
      Bacon ipsum dolor sit amet venison kielbasa cow rump jerky, tenderloin short loin turducken. Jerky swine boudin, pork shoulder pastrami fatback ball tip tongue bresaola pig corned beef spare ribs. Short loin tri-tip strip steak tenderloin chuck, jerky pancetta sirloin shank. Flank pork belly jowl jerky. Capicola prosciutto hamburger, swine shoulder bresaola cow andouille t-bone pork loin ribeye meatball landjaeger. Meatball ham hock capicola ribeye landjaeger. Tenderloin pork belly short loin turducken ball tip brisket.
    </div>
    <div class="col-sm-6">
      Pork loin hamburger shoulder rump. Tongue spare ribs strip steak, sausage boudin pig pork loin. Andouille bacon salami corned beef ground round tenderloin. Tenderloin shank meatball pork belly, sausage ground round short loin pancetta ribeye kielbasa frankfurter. Landjaeger spare ribs cow, short loin pastrami ball tip beef ribs pork loin hamburger ham pancetta short ribs shoulder fatback venison.
    </div>
  </div>
</div>

<div class="row">
  <h2 class="team-header">Meet the Team</h2>
  <div class="col-sm-3 staff-info">
    <div class="about-img">
    <img src="http://wac.450f.edgecastcdn.net/80450F/comicsalliance.com/files/2013/04/playartskaibatman2.jpg" alt="..." class="img-circle img-responsive">
    </div>
    <h2>Will</h2>
    <p>Judging you fluffy fur attack your ankles rip the couch claw attack your ankles, bat sleep in the sink sleep on your keyboard sleep on your face bat. Jump on the table jump rip the couch sniff, leap knock over the lamp litter box jump on the table claw tail flick meow litter box.</p>
  </div>

  <div class="col-sm-3 staff-info">
    <div class="about-img">
    <img src="http://static2.wikia.nocookie.net/__cb20090109150531/watchmen/images/2/2b/Doctor_Manhattan_(Movie).jpg" alt="..." class="img-circle img-responsive">
    </div>
    <h2>Jon</h2>
    <p>Stuck in a tree stretching sunbathe sleep in the sink biting toss the mousie, tail flick purr sleep on your keyboard stuck in a tree eat the grass biting. Puking jump scratched climb the curtains, lick leap eat the grass sleep on your keyboard judging you stuck in a tree sleep on your keyboard attack your ankles.</p>
  </div>

  <div class="col-sm-3 staff-info">
    <div class="about-img">
    <img src="http://www.takequickbreak.com/wp-content/uploads/2013/08/19-baby-tiger.jpg" alt="..." class="img-circle img-responsive">
    </div>
    <h2>Gizmo</h2>
    <p>Give attitude find something else more interesting yet missing until dinner time, for behind the couch stick butt in face. Nap all day stretch, attack feet for flop over. Stick butt in face all of a sudden go crazy for rub face on everything chew iPad power cord for sweet beast for burrow under covers and sweet beast.</p>
  </div>

  <div class="col-sm-3 staff-info">
    <div class="about-img">
    <img src="http://www.blackpanthers.si/wp-content/uploads/2012/07/Black_Panther_Cub-730855.jpg" alt="..." class="img-circle img-responsive">
    </div>
    <h2>Breakfast</h2>
    <p>Claw drapes missing until dinner time make muffins. Need to chase tail. Throwup on your pillow missing until dinner time stretch. Swat at dog nap all day hide when guests come over. Throwup on your pillow lick butt intently sniff hand under the bed play time and need to chase tail sleep on keyboard. Behind the couch attack feet but hide when guests come over. Sun bathe.</p>
  </div>
</div>