<div>
<h1>Home</h1>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div id="carousel-home" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-home" data-slide-to="1"></li>
        <li data-target="#carousel-home" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="https://farm4.staticflickr.com/3064/2656304738_01aa45d6b5.jpg" alt="...">
          <div class="carousel-caption">
            Penguin attack!
          </div>
        </div>
        <div class="item">
          <img src="https://farm1.staticflickr.com/46/147218474_306c513aea.jpg" alt="...">
          <div class="carousel-caption">
            Mutiny!
          </div>
        </div>
        <div class="item">
          <img src="http://placekitten.com/455/303" alt="..." class="center-block">
          <div class="carousel-caption">
            Meow
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-home" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-home" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-9">
    <h2 id="ipsum1">Hipster Ipsum</h2>
    <p>Schlitz Brooklyn cray chillwave, gentrify Truffaut typewriter locavore Godard church-key occupy banh mi. Fingerstache cred beard brunch freegan. Kogi food truck actually, PBR lo-fi wolf 8-bit flannel Tonx art party Blue Bottle viral Bushwick Vice. Tonx meh iPhone, Schlitz photo booth fingerstache mustache flexitarian cornhole deep v 3 wolf moon tattooed single-origin coffee. Readymade ethical Carles, banjo farm-to-table fanny pack typewriter photo booth. 3 wolf moon forage mumblecore, trust fund fap 90's PBR&B. Irony direct trade Tumblr Thundercats pop-up <a href="#" data-toggle="tooltip" title="Great for gardening">salvia</a>, Marfa squid tousled <a href="#" data-toggle="tooltip" title="YOLO">YOLO</a>.</p>
    <p>Hella gluten-free flannel messenger bag fap. Stumptown Godard YOLO literally, gentrify twee semiotics fanny pack. Vinyl literally meggings bespoke, twee tote bag Thundercats freegan trust fund occupy swag authentic. Lomo Echo Park kogi messenger bag organic. Fixie Odd Future direct trade chambray aesthetic selvage mustache blog, Blue Bottle next level cray photo booth sriracha actually. Plaid literally 3 wolf moon American Apparel, art party lo-fi McSweeney's fap viral salvia mlkshk ugh retro Bushwick leggings. Ennui roof party yr, craft beer polaroid raw denim Echo Park four loko literally Neutra vinyl leggings.</p>

    <h2 id="ipsum2">More Ipsum</h2>
    <p>Cardigan whatever before they sold out Williamsburg, <a href="#" data-toggle="tooltip" title="Hugs and Kisses">XOXO</a> mlkshk tattooed Schlitz Helvetica wolf put a bird on it four loko deep v banjo. Artisan shabby chic small batch organic. Tousled letterpress selvage umami, stumptown bitters banh mi locavore cornhole. Freegan mustache squid, organic selvage fanny pack wayfarers. Normcore distillery pickled bespoke Williamsburg. Pug chambray blog ethical +1, DIY keffiyeh mumblecore scenester tattooed quinoa <a href="#" data-toggle="tooltip" title="A bar and restaurant that serves high-end beer and food">gastropub</a>. Small batch chia skateboard organic, sustainable umami wayfarers.</p>
    <p>Fanny pack authentic cred, lomo Brooklyn meggings American Apparel chillwave Vice vinyl Odd Future. Authentic kale chips craft beer, sartorial banh mi whatever chia disrupt umami. VHS small batch Marfa Brooklyn, kogi umami organic before they sold out American Apparel food truck gentrify PBR&B pork belly tousled. Selfies Schlitz letterpress Tonx small batch, squid drinking vinegar farm-to-table tattooed semiotics Neutra. Next level PBR synth, cred ennui ethnic quinoa plaid narwhal master cleanse 90's sriracha cray actually. Pour-over vinyl organic Carles, raw denim plaid ennui fap letterpress. Portland lomo gluten-free post-ironic, letterpress Godard paleo jean shorts.</p>
    <p>Fanny pack authentic cred, lomo Brooklyn meggings American Apparel chillwave Vice vinyl Odd Future. Authentic kale chips craft beer, sartorial banh mi whatever chia disrupt umami. VHS small batch Marfa Brooklyn, kogi umami organic before they sold out American Apparel food truck gentrify PBR&B pork belly tousled. Selfies Schlitz letterpress Tonx small batch, squid drinking vinegar farm-to-table tattooed semiotics Neutra. Next level PBR synth, cred ennui ethnic quinoa plaid narwhal master cleanse 90's sriracha cray actually. Pour-over vinyl organic Carles, raw denim plaid ennui fap letterpress. Portland lomo gluten-free post-ironic, letterpress Godard paleo jean shorts.</p>
    <p>Fanny pack authentic cred, lomo Brooklyn meggings American Apparel chillwave Vice vinyl Odd Future. Authentic kale chips craft beer, sartorial banh mi whatever chia disrupt umami. VHS small batch Marfa Brooklyn, kogi umami organic before they sold out American Apparel food truck gentrify PBR&B pork belly tousled. Selfies Schlitz letterpress Tonx small batch, squid drinking vinegar farm-to-table tattooed semiotics Neutra. Next level PBR synth, cred ennui ethnic quinoa plaid narwhal master cleanse 90's sriracha cray actually. Pour-over vinyl organic Carles, raw denim plaid ennui fap letterpress. Portland lomo gluten-free post-ironic, letterpress Godard paleo jean shorts.</p>
    <p>Fanny pack authentic cred, lomo Brooklyn meggings American Apparel chillwave Vice vinyl Odd Future. Authentic kale chips craft beer, sartorial banh mi whatever chia disrupt umami. VHS small batch Marfa Brooklyn, kogi umami organic before they sold out American Apparel food truck gentrify PBR&B pork belly tousled. Selfies Schlitz letterpress Tonx small batch, squid drinking vinegar farm-to-table tattooed semiotics Neutra. Next level PBR synth, cred ennui ethnic quinoa plaid narwhal master cleanse 90's sriracha cray actually. Pour-over vinyl organic Carles, raw denim plaid ennui fap letterpress. Portland lomo gluten-free post-ironic, letterpress Godard paleo jean shorts.</p>


    <h2 id="ipsum3">Even More!</h2>
    <p>IPhone viral aesthetic, wolf master cleanse bicycle rights brunch retro fanny pack irony 90's cray gastropub McSweeney's Carles. Plaid narwhal hoodie viral sustainable, occupy Vice actually whatever vegan beard Tumblr dreamcatcher fanny pack before they sold out. Asymmetrical Cosby sweater small batch, meggings disrupt swag raw denim Shoreditch art party slow-carb Odd Future. Pitchfork trust fund Pinterest umami put a bird on it asymmetrical. 90's VHS master cleanse meggings Williamsburg church-key, 3 wolf moon roof party trust fund wayfarers bicycle rights actually post-ironic. Flannel mumblecore letterpress YOLO vegan irony. Post-ironic Odd Future irony twee synth dreamcatcher.</p>
    <p>Organic quinoa umami kale chips locavore. Vinyl 8-bit whatever ugh. 90's keytar ennui plaid ethical. Disrupt kogi photo booth direct trade. Etsy shabby chic ennui, food truck vegan PBR Tonx Shoreditch plaid pickled kale chips blog gentrify wayfarers fingerstache. Tofu chillwave trust fund, kale chips seitan vinyl sustainable skateboard drinking vinegar organic. Literally banh mi leggings sartorial master cleanse.</p>
  </div>
  <div class="col-sm-3 ipsum-nav">
    <ul class="nav">
      <li><a href="#ipsum1">Hipster Ipsum</a></li>
      <li><a href="#ipsum2">More Ipsum</a></li>
      <li><a href="#ipsum3">Even More!</a></li>
    </ul>
  </div>
</div>
</div>